body {
  background-image: url('./logo3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#components {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login {
  background-color: antiquewhite;
  /* background-size: contain;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black; /* Add border */
  padding: 20px; /* Add some padding for better appearance */
}

.sidebar {
  background-color: aliceblue;
  height: 100vh;
  width: 15%;

  display: flex;
}

.routes {
  background-color: seagreen;
  width: 100%;
}
