body {
  background-image: url('./logo3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#components {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login {
  background-color: antiquewhite;
  /* background-size: contain;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black; /* Add border */
  padding: 20px; /* Add some padding for better appearance */
}

.sidebar {
  background-color: aliceblue;
  height: 98vh;
  width: 15%;

  display: flex;
}

#search {
  display: inline-block;
  position: relative;
}

.pages {
  /* position: absolute; */
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.results {
  background-color: antiquewhite;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.resultBox {
  border: 1px solid black;
}

.routes {
  background-color: seagreen;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
  width: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffff;
  box-shadow: 0px, 0px, 18px, 0px rgba(0, 0, 0, 0.75);
}

.closeBtn {
  position: fixed;
  top: 8px;
  left: 8px;
}
